.body {
    margin: 0;
    
}
.main {
    height: 100vh;
    background-color: rgb(255, 77, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 150px;
}
@keyframes example {
    0% {transform: rotatez(-180deg);}
    50% {transform: rotateY(-180deg);}
}
.box {
    width: 100px;
    height: 100px;
    background-color: white;
    /* transform: rotateX(150deg); */
    /* animation-iteration-count: infinite; */
    animation: example 1.5s infinite;
}
